.blog_page .Banner{
background-image:url('./images/Blog_banner.png') !important;
min-height: 50vh;
    background-size: cover;
}
.blog_page h1.title {
        font-size: 56px !important;
        font-weight: 900 !important;
        line-height: 62px !important;
        font-family: "Poppins", sans-serif !important;
        color: #fff;
        text-align: center;
}
.blog-list-section {
    padding: 100px 20px;
}
.blog-list-section img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.blog-list-section .container {
    max-width: 1340px;
}
.blog_page .Banner .row.d-flex {
    justify-content: center;
}
.blog-img{
    width:300px;
    height:200px;
    object-fit:contain;
}
.blog_page .card {
    /* width: 22rem; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 45px 16px;
}

.blog-desc {
    /* min-height: 70px; */
  -webkit-line-clamp: 4;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog_page input[type="text"] {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(16,45,72,.15);
    font-size: 16px;
    font-size: 16;
    height: 50px;
    padding: 6px 50px 6px 20px;
    transition: all .3s;
  width:100%
}
.search-icon {
    position: absolute;
    top: 7px;
    right: 1%;
    background-color: #f9004d;
    padding: 9px;
    font-size: 35px;
    border-radius: 5px;
}
.blog-category {
    font-size: 14px;
}
.blog-title {
    font-size: 16px;
}
img.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  object-fit:cover;
}
.profile-card {
    padding: 100px 35px;
    background-color: #e16714;
    color: #fff;
}
.singleblog {
    padding: 100px 20px;
}
img.related-blogimg {
    width: 110px;
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .blog-list-section, .singleblog {
        padding: 50px 20px;
    }
    /* .blog_page .card {
        width: 24rem;
       
    } */
    .blog_page .Banner {
        min-height: 30vh;
    }
     .blog_page h1.title {
    font-size: 47px !important;
    line-height: 52px !important;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
    /* .blog_page .card {
        width: 16rem;
        margin: 10px 0;
    } */
    .blog-list-section {
        padding: 50px 20px;
    }
    .blog-list-section .container {
        padding: 0;
    }
}
